#root {
  margin: 10px;
  /* width: 100%;
  height: 100%; */
  flex-direction: column;
}

iframe {
  width: calc(100vw - 20px);
  height: calc(100vh - 50px);
}

input {
  width: 100%;
}

#settings {
  display: flex;

  & a {
    text-decoration: none;
  }

  & select {
    min-width: 20%;
  }
}